{% extends "base.html" %}
{% block activity %}
	<div class="toAppend row" >
		<div class="col-md-12 addFile">
			<span style="font-weight:bold"> Add the four files required to calculate the average balance !!!</span>
		</div>
		<form class="col-sm-12" enctype="multipart/form-data" method="post" action=""> {%csrf_token%}											
			<div class="row"> 
				<div  class="toClone col-md-6">
					<div class="form-group">
						{{formset}}
					</div>
				</div>														
			</div>
			{% block action_buttons %}
				<button style= "float:left" class="btn btn-raised" type="submit">Submit Files</button>	
			{% endblock %}														
		</form>																							
	</div>
{% endblock%}