{% extends "base.html" %}
{% block activity %}		
	<div class ="container">
		<div class="col-md-4">
			<a href = "/analytics" class="btn btn-primary"><i class="fa fa-bar-chart"></i> Few Analytics </a>
		</div>
		<div class="col-md-4">
			<a  href = "{{csv_file}}" class="btn btn-primary"><i class="fa fa-dot-circle-o"></i> Download csv </a>
		</div>
		<div class="col-md-4">
			<a href ="{{excel_file}}"class="btn btn-primary"><i class="fa fa-file-excel-o"></i> Download excel </a>
		</div>		
	</div>
	<br />
	<div class="row">
		</div>		
	{% block action_buttons %}
	<ul class="pager wizard">
		<li class="next"><a class="btn-raised" href="javascript:void(0);"> Load New Files </a></li>
	</ul>											
	{% endblock %}											
{% endblock %}

